.login-container {
  background: linear-gradient(
    to right,
    #fff 0%,
    #ffffff 30%,
    #ffffff 40%,
    #f5feff 50%,
    #f4fcff 60%,
    #97cffd 100%
  );

  .left-container-login {
    display: flex;
    justify-content: center;
    align-items: center;

    .auth-left-container {
      .auth-form-container {
        .fast-acess-container {
          padding-top: 2.5rem;
        }

        .divisor-font {
          font-size: 12px;
          color: #bbbb;
        }

        .auth-form {
          display: flex;
          gap: 1.2rem;
          flex-direction: column;

          .login-submit {
            width: 100%;
            padding: 22px;
            background-color: #74bade;
            color: white;
            border: none;
            border-radius: 20px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

/* Extra Small (xs) - para telas pequenas, como dispositivos móveis */
@media (max-width: 575.98px) {
  .login-container {
    .left-container-login {
      height: 100vh;
      .auth-left-container {
        padding-top: 2rem;
        width: 85%;
        .auth-form-container {
          .fast-acess-container {
            padding-top: 2.5rem;

            span {
              display: none;
            }
          }
        }
      }
    }
  }

  .login-title {
    font-size: 2em !important;
  }
  .login-footer {
    margin-top: 10%
  }

  .lottie-container {
    display: none;
  }
}

/* Small (sm) - para dispositivos móveis maiores */
@media (min-width: 576px) and (max-width: 767.98px) {
  .login-container {
    height: 100vh;
  }
  .lottie-container {
    display: none;
  }
}

/* Medium (md) - para tablets em modo retrato */
@media (min-width: 768px) and (max-width: 991.98px) {
  .login-container {
    height: 100vh;
  }

  .lottie-container {
    display: none;
  }
}

/* Large (lg) - para tablets em modo paisagem e notebooks menores */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra Large (xl) - para desktops e laptops maiores */
@media (min-width: 1200px) and (max-width: 1599.98px) {
}

/* Extra Extra Large (xxl) - para telas de desktop grandes e monitores ultra-wide */
@media (min-width: 1600px) {
}
