.login-title {
  font-size: 39px;
  font-weight: 400;
  margin: 0;
}

.login-subtitle {
  font-size: 18px;
  color: #bbbbbb;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: -14px;
}

.divisor-font {
  font-size: 12px;
  color: #bbbb;
}

.label-input {
  font-size: 18px;
  margin-left: 10px;
}

// .login-submit {
//   width: 100%;
//   padding: 22px;
//   background-color: #74bade;
//   color: white;
//   border: none;
//   border-radius: 20px;
//   cursor: pointer;
// }
