.tabela-feira-header {
  h1 {
    font-weight: 500;
  }

  .nome-feira {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .nome-feira-input-text {
    width: 30%;
    height: 50px;
    padding-left: 1rem;
    font-weight: 400;
    font-size: 20px;
    border-radius: 100px;
    background: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9;
  }
}

.container-grafico-torta,
.bar-chart-container {
  width: 100%;
  padding: 10px 30px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.103) 0px 1px 4px;

  h3 {
    font-weight: 400;
    font-size: 1.5em;
  }
}

.carousel-produtos {
  overflow: hidden;

  .ant-card {
    border-radius: 10px;
    width: 90%;
    // margin: 0 auto;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px auto 0 auto;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    }

    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
    }

    .product-info {
      display: flex;
      flex-direction: column;
      padding: 10px;

      label:first-child {
        font-size: 14px;
        font-weight: 400;
        color: #333;
      }

      label:last-child {
        font-size: 12px;
        font-weight: 600;
        color: #ababab;
      }
    }
  }
}

@media (max-width: 1200px) {
  .container-feiras {
    flex-direction: column-reverse;
    gap: 30px;
    margin-top: 30px;
  }
}
