body {
  overflow: auto !important;
}

.editar-perfil-container {
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-editar-perfil {
  width: 14%;
  padding: 24px;
  background-color: #74bade;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 18px;
}

.usuario-nome {
  font-size: 18px;
  font-weight: 600;
}

/* Estilizando os dots */
.slick-dots li button {
  background-color: red !important; /* Cor padrão dos dots */
}

.slick-dots li.slick-active button {
  background-color: green !important; /* Cor dos dots ativos */
}

.titulo-editar-perfil {
  font-size: 50px;
  font-weight: 500;
}

.subtitulo-avatares {
  font-size: 20px;
  font-weight: 500;
}


