.select-profile {
  margin: 0 auto;
  gap: 20px;
}

.row-selecionar-perfil {
  height: 74vh;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.edit-icon {
  font-size: 24px;
  color: #696969;

  &:hover {
    color: #74bade;
  }
}

.titulo {
  text-align: center;
  font-size: 70px;
  font-weight: 500 !important;
}

.container-gerenciar-perfil {
  justify-content: center;
}

.container-perfis {
  margin: 0 auto;
}

.btn-gerenciar-perfil {
  width: 180px;
  padding: 12px;
  background-color: #74bade;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 14px;
}

.nome-perfil {
  font-size: 24px;
  font-weight: 500;
}
