*,
h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
}

.ant-layout {
  // height: 100vh;
  background-color: #fff;
}

.input-text {
  height: 50px;
  border-radius: 100px;
  background: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
}

.error-message {
  text-align: right;
  color: #bb0000;
}

.btn-social-media {
  width: 100%;
  padding: 22px 28px;
  border-radius: 36px;

  font-size: 15px;
}

.profile-dropdown {
  position: fixed;
  top: 3%;
  right: 2%;
}

.label-input {
  font-size: 18px;
  margin-left: 10px;
}

.input-text-field-auth {
  margin-bottom: 20px;
  padding-left: 18px;
}

/* Media Queries para ajuste de responsividade */
@media (max-width: 576px) {
  h1 {
    font-size: 1.5rem !important; /* 24px */
  }

  h2 {
    font-size: 1.25rem !important; /* 20px */
  }

  p {
    font-size: 0.875rem !important; /* 14px */
  }

  label {
    font-size: 0.75rem !important; /* 12px */
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  h1 {
    font-size: 1.75rem !important; /* 28px */
  }

  h2 {
    font-size: 1.375rem !important; /* 22px */
  }

  p {
    font-size: 0.9375rem !important; /* 15px */
  }

  label {
    font-size: 0.8125rem !important; /* 13px */
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  h1 {
    font-size: 2rem !important; /* 32px */
  }

  h2 {
    font-size: 1.5rem !important; /* 24px */
  }

  p {
    font-size: 1rem !important; /* 16px */
  }

  label {
    font-size: 0.875rem !important; /* 14px */
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  h1 {
    font-size: 2.25rem !important; /* 36px */
  }

  h2 {
    font-size: 1.75rem !important; /* 28px */
  }

  p {
    font-size: 1.125rem !important; /* 18px */
  }

  label {
    font-size: 0.9375rem !important; /* 15px */
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  h1 {
    font-size: 2.625rem !important; /* 42px */
  }

  h2 {
    font-size: 2rem !important; /* 32px */
  }

  p {
    font-size: 1.125rem !important; /* 18px */
  }

  label {
    font-size: 1rem !important; /* 16px */
  }
}
